/* .one{
    height: 100px;
    width: 100px;
    background: #000;
}

.two{
    height: 100px;
    width: 100px;
    background: rgb(26, 26, 206);
}

.content{
    heeight:300px;
    width: 300px;
    border: 1px solid green;
    porition: relative;
    bottom: 0px;
    right: 0px;
    top: 0px;
}

.two{
    position: absolute;
    bottom: 10px;
    height: 200px;
    width: 200px;
    background: red;
} 
@media onlu screen and (min-width:600px) and (max-width: 800px){
    .content{
        height: 300px;
        width: 300px;
        border: 1px solid green;
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 0px;
    }
    .two{
        position: absolute;
        bottom: 10px;
        height: 200px;
        width: 200px;
        background: red;
    }
}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.col-1, col {
    width: 8.33%;
    float: left;
    background-color: brown;
}
.col-2, col {
    width: 16.66%;
    float: left;
    background-color: yellow;
}
.col-3, col {
    width: 25%;
    float: left;
    background-color: green;
}
.col-4, col {
    width: 33.33%;
    float: left;
    background-color: grey;
}
.col-5, col {
    width: 41.66%;
    float: left;
    background-color: grey;
}
.col-6, col {
    width: 50%;
    float: left;
    background-color: slateblue;
}
.col-7, col {
    width: 58.33%;
    float: left;
    background-color: red;
}
.col-8, col {
    width: 66.66%;
    float: left;
    background-color: palegreen;
}
.col-9, col {
    width: 75%;
    float: left;
    background-color: yellowgreen;
}
.col-10, col {
    width: 83%;
    float: left;
    background-color: burlywood;
}
.col-11, col {
    width: 91.63%;
    float: left;
    background-color: palevioletred;
}
.col-12, col {
    width: 100%;
    float: left;
    background-color: aliceblue;
}

[class*= "col"] {
    border: 0.3px solid red;
    height: 120px;
    
}

.hi{
    height: 350px;
}

.footer{
    height: 100px;
    background-color: pink;
}

.card-row-1 {
    height: 200px;
}

.card-row-2 {
    height: 300px;
}

/**
    * media is a special sign which is used to define 
    the size of the window on which the queries will work

*/
/*


